{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
          {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}

<form method="post">
    <div style="width: 500px;margin:0 auto;padding:20px;">
        <p class="text-center font-weight-bolder">來個短網址</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">網址</span>
            </div>
            <input type="text" class="form-control" id="basic-url" name="basic-url" aria-describedby="basic-addon3">
        </div>
    </div>
    <div class="text-center" style="margin:30px">
        <button type="submit" class="btn btn-primary">產生</button>
    </div>
</form>


{% endblock %}